<a href="https://colab.research.google.com/github/latiamgaonkar/hello-github-actions/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**features of pythons**

1)Easy to learn and read
2)Interpreted langauage
3)Dynamically typed
4)Object oriented
5)Extend Standard library

**2)** **What are the data types in python?**

**1.** **Numeric Type**

1)int: Integer (whole numbers), e.g., 5, -10, 100

2)Float:floating point number(decimal numbers),e.g.,2.0,3.5,-6.7

3)Complex:complex numbers(numbers with real and imaginary part),e.g.,3+5j,5-6j,

**2.** **Text type**

1)String:string is a collection character or numbers which will written in single quotation or double quotation

e.g.,a = "Hello World"

**3.** **Sequence type**

1)list: Ordered, mutable collection of items (can contain different types), e.g., [1, 2, 3], ["apple", 3, 4.5]

2)tuple: Ordered, immutable collection of items, e.g., (1, 2, 3), ("a", "b", "c")

3)range: Represents a sequence of numbers, used mostly in loops, e.g., range(5) produces 0, 1, 2, 3, 4

**4.** **Mapping Type**

1)dict: Dictionary (key-value pairs), e.g., {"name": "Alice", "age": 25}

**5.** **Set Types**

1)set: Unordered collection of unique items, e.g., {1, 2, 3}, {"apple", "banana"}

**6** **Boolean Type**

1)bool: Boolean (True or False), e.g., True, False

**7.** **Binary Types**

**8.** **None Type**

1)NoneType: Represents the absence of a value or a null value, e.g., None

**3)** **What are the local variables and global variables in python?**

local variables are defined within a function and are only accessible within that function, while global variables are defined outside of any function and can be accessed from anywhere in the program.

**Local variables**

Defined inside a function.

Exist only during the function's execution.

Cannot be accessed from outside the function.

In [ ]:
def Hello():
    s = "pune is city"
    print("inside function",s)
Hello()

inside function pune is city

**Global variable**

It is the variable which is created outside the functions and it is accesible outside the function.

In [ ]:
x = 100
def myfunction():
  print("outside function:",x)
myfunction()

outside function: 100

**4)** **How do you write commentd in python? and why comments are important?**

comments are the line in the programs which is ignored by the interpreter during execution of program.

Comments enhance the readability of the code.

Comment can be used to identify functionality or structure the code-base.

Comments can be used to prevent executing any specific part of your code, while making changes or testing.

In [ ]:
# I am single line comment

**5)** **How to comment on multiple lines in python?**

comment on multiple lines in python using """- - -- - - -"""

In [ ]:
'''
This is a multi-line comment
that spans multiple lines.
'''

**6.** **what do you mean by python literals?**

literals are the constant values which is asign to the variable.

**Numeric literals**

1)integer literal

2)float literal

3)complex literal

4)boolean literal

5)special none literal

In [ ]:
#integer literal
integer_literal = 100
float_literal = 3.14
complex_literal = 2+3j
boolean_literal = True
print("integer literal: ",integer_literal)
print("float literal: ",float_literal)
print("complex literal: ",complex_literal)

integer literal:  100
float literal:  3.14
complex literal:  (2+3j)

**2.** **string literals**

In [ ]:
single_quote_string = 'Hello World!'
double_quote_string = "python is fun!"
triple_quote_string = """This is multiline string in python"""
print("single quote string",single_quote_string)
print("double quote string",double_quote_string)
print("triple quote string",triple_quote_string)

single quote string Hello World!
double quote string python is fun!
triple quote string This is multiline string in python

**collection literals**

**1.** **List literal:**

collection of items enclosed in square bracket

In [ ]:
a = [1,3,4,5,77]
print(a)

[1, 3, 4, 5, 77]

**2.** **tuple literal:**

An immutable items enclosed in parenthesis.

In [ ]:
x = (10,20,30,40)
print(x)

(10, 20, 30, 40)

**3.** **set literal**

A collection of unique items enclosed in curly braces.

In [ ]:
f = {1,2,2,3,4,4,5,5,6,6,7,7,7}
print(f)

{1, 2, 3, 4, 5, 6, 7}

**4.** **dictionary literal**

A collection of key-value pairs enclosed in curly braces.

In [ ]:
b = {1:100,2:300,4:500,6:900}
print(b)

{1: 100, 2: 300, 4: 500, 6: 900}

**7)** **what are different ways to assign value to variables?**

There are several ways to assign values to variables in programming.

**1.** **Direct Assignment**

This is the most straightforward way to assign a value to a variable. You just use the assignment operator (=).

In [ ]:
x = 10
name = "Alice"
print(x,name)

10 Alice

**2.** **Multiple Assignment**

we can assign values to multiple variables in a single line.

In [ ]:
x, y, z = 1, 2, 3
print(x,y,z)

1 2 3

**3.** **Unpacking**

In languages that support unpacking, you can assign values from iterable objects (like lists or tuples) directly to variables.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(fruits)
print(x,y,z)

['apple', 'banana', 'cherry']
apple banana cherry

**4.** **Assignment via Expressions**

Assign the result of an expression to a variable.

In [ ]:
x = 5+10
print(x)

15

**8)** **What are the escape characters in python?**

n Python, escape characters are special characters that are used to represent certain whitespace characters or characters that are difficult to type directly. They are typically preceded by a backslash (\). Here are the common escape characters in Python:

1)\n – Newline: Moves the cursor to the next line.

2)\t – Horizontal Tab: Adds a tab space.

3)\r – Carriage Return: Moves the cursor to the beginning of the line.

4)\b – Backspace: Moves the cursor one character back.

5)\f – Form Feed: Moves the cursor to the beginning of the next page.

6)\v – Vertical Tab: Moves the cursor down to the next vertical tab stop.

7)\\ – Backslash: Inserts a literal backslash (\).

8)\'- Single Quote: Inserts a single quote ('), useful in single-quoted strings.

9)\" – Double Quote: Inserts a double quote ("), useful in double-quoted strings.

**9)** **What are the different types of string formatting?Explain with example**

1) Old-style String Formatting (% operator)

In [ ]:
name = "Alice"
age = 30
formatted_string = "Name: %s, Age: %d" % (name, age)
print(formatted_string)

Name: Alice, Age: 30

2)str.format() Method

In [ ]:
name = "Alice"
age = 30
formatted_string = "Name: {}, Age: {}".format(name, age)
print(formatted_string)

Name: Alice, Age: 30

3)f-Strings (Literal String Interpolation)

Introduced in Python 3.6, f-strings provide a more concise and readable way to format strings. You prefix the string with f or F, and variables or expressions inside curly braces {} are evaluated at runtime.

In [ ]:
formatted_string = f"Next year, {name} will be {age + 1} years old."
print(formatted_string)

Next year, Alice will be 31 years old.

**10)** **write a program to print every character of string entered by the user in a new line using a loop**

In [ ]:
str_1 = input("Enter a string: ")
for char in str_1:
    print(char)

Enter a string: Hello
H
e
l
l
o

**11)** **write the python program to find length of string "machine learning" with and without using length function**

In [ ]:
with_length = "machine learning"
print(len(with_length))

16

In [ ]:
s = "machine learning"
l = 0
for char in s:
    l += 1
print(l)

16

**12)** **Write a python program to check if the word 'orange'is present in the "this is orange juice".**

In [ ]:
sentence = "this is orange juice"


if 'orange' in sentence:
    print("The word 'orange' is present in the sentence.")
else:
    print("The word 'orange' is not present in the sentence.")

The word 'orange' is present in the sentence.

**13)** **write a python program to find the number of vowels,consonants,digits, and white space character in string.**

In [ ]:
def count_characters(s):
    vowels = "aeiouAEIOU"
    digits = "0123456789"

    vowel_count = 0
    consonant_count = 0
    digit_count = 0
    space_count = 0


    for char in s:
        if char in vowels:
            vowel_count += 1
        elif char.isalpha():
            consonant_count += 1
        elif char.isdigit():
            digit_count += 1
        elif char.isspace():
            space_count += 1


    print("Vowels:", vowel_count)
    print("Consonants:", consonant_count)
    print("Digits:", digit_count)
    print("White spaces:", space_count)


input_string = "Hello World! 123"
count_characters(input_string)

Vowels: 3
Consonants: 7
Digits: 3
White spaces: 2

**14)** **write a python program to count Uppercase,Lowercase,special character and numeric values in given string.**

In [ ]:
str = "Hell0 W0rld ! 123 * #"
print("Original strings : ",str)
upr, lwr, num, spl = 0, 0, 0, 0
for i in range(len(str)):
	if str[i] >= 'A' and str[i] <= 'Z':
		upr += 1
	elif str[i] >= 'a' and str[i] <= 'z':
		lwr += 1
	elif str[i] >= '0' and str[i] <= '9':
		num += 1
	else:
		spl += 1

print("UpperCase : ",upr)
print("LowerCase : ",lwr)
print("NumberCase : ",num)
print("SpecialCase : ",spl)

Original strings :  Hell0 W0rld ! 123 * #
UpperCase :  2
LowerCase :  6
NumberCase :  5
SpecialCase :  8

**15)** **write a python program to make a new string with all consonants deleted from the string "Hello,have a good day".**

In [ ]:
a = ['a','e','i','o','u','A','E','I','O','U',' ']
b = "Hello, have a good day"
for i in b:
  if i not in a:
    b = b[:b.index(i)]+b[b.index(i)+1:]
print(b)

eo ae a oo a

**16)** **write a python program to remove the nth index character from a non-empty string**

In [ ]:
my_string = "Hi there how are you"

print("The string is :")
print(my_string)
index_removed = 2

changed_string = ''

for char in range(0, len(my_string)):
   if(char != index_removed):
      changed_string += my_string[char]

print("The string after removing ", index_removed, "nd character is : ")
print(changed_string)

The string is :
Hi there how are you
The string after removing  2 nd character is :
Hithere how are you

**17)** **write a python program to change a given string into new string where the first and last characters have been exchanged.**

In [ ]:
v = "abcdefghi"
v[-1:]+v[1:-1]+v[:1]

'ibcdefgha'

**18)** **write a python program  to count the occurence of a given character in sentance**

In [ ]:
text = "hello world"
character_to_count = 'o'
count = text.count(character_to_count)
print(count)

2

**19)** **Write a program to find last character of string.**

In [ ]:
text = "Hello World"
last_character=text[-1:]
print(last_character)

d

**20)** **write a program to find last 10 character of string?**

In [ ]:
s = "Hello world"
print(s[10])
print(s[-10])

d
e

**21)** **write a program to convert a given string to all uppercase if it contaims at least 2 uppercase characters in the first 4 characters.**

In [ ]:
str = input("Enter the String :")
num_upper = 0
for letter in str[:4]:
	if letter.upper() == letter:
		num_upper += 1
if num_upper >= 2:
	print(str.upper())
print(str)

Enter the String :cOmPuTer
COMPUTER
cOmPuTer